 <section id="add">  
  <form action="/message" method="post">  
    <textarea name="body" placeholder="Your body&hellip;"></textarea>  
    <input type="submit" value="Create Note!">  
  </form>  
</section>